/* 
font                    : Roboto, Sans-serif
greenish blue           : #34c6d3 ()
steel gray              : #41464b (Heading)
blue bayoux             : #64707b (paragraph)
white                   : #fff
black                   : #000


*/

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#home {
    height: 100%;
}

h3 {
    text-transform: uppercase;
}

#home-cover {
    height: 100%;
    background-image: url('../img/bg-home.jpg');
    animation-delay: .1s;
    animation-duration: .5s;
}

#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    height: 100;
    width: 100;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: white;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    animation-delay: .1s;
    animation-duration: .5s;
}

.home-btn {
    animation-delay: 1s;
    animation-duration: .5s;
}

.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-attachment: fixed;
}

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px, 26px, 12px, 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-white:hover, 
.btn-white:focus{
    background-color: white;
    color: #41464b;
}

.content-box{
    padding: 60px 0 60px 0;
}

.content-title h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline{
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 0 auto;
}

.service-item{
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer; 
}

.service-item-icon i{
    color: #34c6d3;
    float: left;
    padding: 10px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i{
    color: white;
    background-color: #34c6d3;
}

.service-item-tilte h3{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px 0;
}